/Mini_Projects/Naats
/Mini_Projects/html/Naat_player.html
/Mini_Projects/css/naat_player.css
/Mini_Projects/Javascript/NaatPlayer.js
/Mini_Projects/html/PDF.html
/Mini_Projects/css/pdf.css
/Mini_Projects/Javascript/PDF.js
/Tilting Page
/Landing Page
/Hoverboard
/Word Beater
/Grocery Bud
/Ecommerce Website
/3D Boxes
/Menu Items

