* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    letter-spacing: 1px;
    font-family   : 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

header {
    color     : #333;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
}

.nav-center {
    display        : flex;
    align-items    : center;
    max-width      : 1170px;
    width          : 100%;
    margin         : 0 auto;
    justify-content: space-between;
    padding        : 0.75rem;
}

header h1 {
    font-size: 30px;
}

.container {
    width           : 60%;
    margin          : 3rem auto;
    background-color: white;
    padding         : 17px;
}


input {
    padding  : 12px;
    margin   : 5px;
    border   : transparent;
    border   : 1px solid #999;
    width    : 50%;
    outline  : none;
    font-size: 15px;
}

#filter {
    float        : right;
    width        : max-content;
    font-size    : 18px;
    padding      : 10px;
    border       : transparent;
    border-bottom: 1px solid #111;
    outline      : none;
}

#filter::placeholder {
    color: #999;

}

#items {
    margin-top : 3rem;
    margin-left: 30px;
}


li {
    width         : 50%;
    font-size     : 18px;
    border-bottom : 1px solid #999;
    text-transform: capitalize;
    padding       : 5px 18px;
    margin        : 25px 0;

}

#items .cross {
    float           : right;
    padding         : 3px 6px;
    background-color: red;
    color           : white;
    border          : transparent;
}

.btn {
    text-transform  : uppercase;
    color           : #fff;
    background-color: #111;
    padding         : 0.575rem 0.75rem;
    letter-spacing  : 1px;
    display         : inline-block;
    transition      : all 0.3s linear;
    font-size       : 0.875rem;
    border          : 1px solid currentColor;
    cursor          : pointer;
    box-shadow      : 0 1px 3px rgba(0, 0, 0, 0.1);
    transition      : all 0.15s linear;
    border-radius   : 6px;
}

.btn:hover {
    transform: scale(0.9);

}